replicaCount: 2

image:
  repository: ghcr.io/sample-unwind/frontend
  pullPolicy: Always
  tag: "main"

imagePullSecrets:
  - name: ghcr-secret

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  className: kong
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-http01
    konghq.com/plugins: rate-limit-ui
  host: parkora.crn.si
  tls:
    enabled: true
    secretName: frontend-tls

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80

env:
  KEYCLOAK_URL: https://keycloak.parkora.crn.si/auth
  KEYCLOAK_REALM: parkora
  KEYCLOAK_CLIENT_ID: frontend-app
  BASE_URL: https://parkora.crn.si

livenessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 10
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 3000
  initialDelaySeconds: 5
  periodSeconds: 5
